
.input {
    color: #545454;
}

body{
    background-size:50%;
    color: #E3E3E3;
}
.well {
    background-color: #C7B4A7;
    color:#545454
    overflow: auto;
}

.center{
    text-align: center;
    color: #545454;
}
.center_table{
    text-align: center;
    margin:1em auto;
    color: #545454;
}
.MathJax{
    font-size: 2em !important;
}

.bottom{
    padding-bottom: 5px;
}
.center_pic{
    text-align: center;
    color: #545454;
}